@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700,900|Roboto:100,300,400,500,700,900');

/* конфигурация */
@clr1: #90d23d;
@clr2: #242424;
@clr3: #ff9d00;
@time: 250ms;

.clear{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

.bg1{
	/*background: linear-gradient(-5deg,#fff 200px,#4b4d4f 0)  no-repeat left bottom;*/
	background: #4a454b url("../assets/img/bg1.jpg") no-repeat left bottom;
    padding-bottom: 300px;
}
.bg2{
	/*background: linear-gradient(-5deg, #4b4d4f 200px, #fff 0);*/
	background: #fff url("../assets/img/bg2.jpg") no-repeat left bottom;
    padding-bottom: 200px;
}
/* конфигурация */

body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

ul li{
	list-style: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.section{
	position: relative;
}

.section__wrapper{
	width: 1170px;
	margin: 0 auto;
	/*outline: 1px solid #c00;*/
}

.container{
	width: 100%;

	.row{

		.cols{
			float: left;
		}
		.cols.col-4{
			width: 33.3333%;
		}
	}
	.clear;
}

/* header */
.header{
	transition: 250ms;
	border-top: 1px solid #4a454b;
	.bg1;

	.header__top{
		overflow: hidden;
		padding: 30px 60px;

		.header__logo{
			float: left;

			img{

			}
		}

		.header__nav{
			float: right;

			.header__nav-list{
				display: inline-block;
    			margin: 0;

				.header__nav-item{
					float: left;

					a{
						color: #fff;
						font-size: 15px;
						font-weight: 100;
						text-transform: uppercase;
						text-decoration: none;
						transition: color @time;
						display: block;
					    padding: 15px 0;
					    margin-left: 40px;

						&:hover{
							color: @clr1;
						}
					}
				}
			}
		}
	}

	.header__top--scroll{
	    position: fixed;
	    z-index: 4;
	    left: 0;
	    right: 0;
	    top: -200px;
	    transition: top 250ms;
	    background: #4a454b;
	    padding: 10px 60px;
	    box-shadow: 1px 1px 20px #333;
	}

	.header__top--mobil{
		display: none;
		position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    padding: 0;
		z-index: 6;
		background: #4a454b;

		&.scroll{
			box-shadow: 1px 1px 20px #333;
		}

		.header__logo{
			margin: 15px;
		    display: inline-block;
		    width: 180px;

		    img{
		    	width: 100%;
		    }
		}

		.header__top--mobil-burger{
			display: inline-block;
    		float: right;
    		margin: 20px;

			svg{
				width: 36px;
		    	height: 36px;

		    	use{
					fill: transparent;
					stroke: #fff;
					stroke-width: 4px;
					transition: @time;
		    	}
			}
			&:hover{

				svg{
					use{
						stroke: @clr3;

						#hamburger-line1{
							stroke: #000;
						}
					}
				}
		    }
		}

		.header__top--mobil-nav-list{
			display: none;
		    width: 100%;
		    padding: 0;
		    background: #4a454b;
		    margin: 0;

			.header__top--mobil-item{

				a{
				    font-size: 20px;
				    color: #fff;
				    width: 100%;
				    display: inline-block;
				    text-align: center;
				    text-decoration: none;
				    padding: 15px 0;
				    border-bottom: 1px solid #fff;
				    text-transform: uppercase;
				    transition: @time;

				    &:hover{
				    	color: @clr3;
				    }
				}
			}
		}
		.clear;
	}

	.header__timer{
		overflow: hidden;
		border: 2px solid @clr1;
		border-radius: 20px;
		width: 972px;
    	padding-bottom: 20px;
		margin: 70px auto;
		margin-bottom: 150px;
		color: #fff;
		font-family: 'Roboto Slab';
		text-transform: uppercase;
		text-align: center;

		.header__timer-item{
			float: left;
			padding: 0 39px;
			min-width: 146px;

			.header__timer-num{
				font-size: 130px;
				font-weight: 100;
			}
			.header__timer-label{
				font-size: 25px;
				font-weight: 400;
			}
		}
		.header__timer-sep{
			float: left;
			font-size: 130px;
			font-weight: 100;
		}
	}

	.header__bottom{
		background: #fff;
		width: 200%;
		margin-left: -50%;
		margin-top: 250px;
		height: 100px;
		transform: rotate(-5deg);
	}

	.header__icons{
		position: absolute;
	    bottom: -30px;
	    left: 30px;
		transform: rotate(-5deg);
		/*animation: iconTranslate 5s ease 2s infinite alternate;*/

		.header__icons-item{
			float: right;
			margin-right: -30px;
			animation: iconTranslate 4s cubic-bezier(.77,.1,.28,.9) infinite alternate;


			img{
				animation: iconRotate 4s cubic-bezier(.77,.1,.28,.9) infinite alternate;
			}
		}
		.header__icons-white{
		    background: #fff;
		    width: 1000%;
		    height: 50%;
		    display: block;
		    position: absolute;
		    bottom: -40px;
		    left: -20px;
		}
	}
}
/* header - end */

/* section1 */
.section1{
	.bg2;

	.section1__text{
		float: left;
		color: @clr2;
		width: 50%;
		padding-left: 50px;
		padding-top: 50px;

		h2{
			font-size: 50px;
			font-weight: 900;
		}
		p{
			font-size: 14px;
			font-weight: 300;
		}
	}

	.section1__block1{
		padding: 120px 0 80px;
    	clear: both;

		.section1__block1-item{
			text-align: center;
			color: @clr2;
		    padding: 20px 50px;
		    box-sizing: border-box;

			&:hover{
				img{
					animation: pulse .5s ease;
				}
			}
			h3{
				margin: 25px 0 10px 0;
				font-size: 35px;
				font-weight: 900;
			}
			p{
				font-size: 14px;
				font-weight: 300;
			}
			img{
				width: 200px;
				height: 200px;
			}
		}
	}

	.section1__form{
		color: @clr2;
		width: 431px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
		text-align: center;
		float: right;
    	margin-top: -300px;
	 	margin-right: 50px;

		form{
			padding: 30px;

			h3{
				font-size: 30px;
				font-weight: 700;

				margin-bottom: 25px;
			}
			p{

				input{
				    width: 96%;
				    height: 35px;
				    border: 1px solid #bebebe;
				    border-radius: 5px;
				    color: #6c6c6c;
				    font-weight: 300;
				    font-size: 19px;
				    padding: 10px 2%;
				    margin-bottom: 4px;
					&:focus{
						outline: 1px solid @clr1;
					}
				}
				input[type='submit']{
					width: 100%;
					height: 55px;
					background-color: @clr1;
					border-radius: 5px;
					color: #fff;
					font-size: 22px;
					font-weight: 700;
					cursor: pointer;
					transition: @time;
					&:hover{
						background-color: @clr3;
					}
				}

			}
			p.section1__form-text{
				color: #6c6c6c;
				font-size: 15px;
				font-weight: 300;
				margin-bottom: 0;
			}
		}
	}

	.section1__table{
		padding: 0 50px;

		table{
			width: 100%;
			color: #fff;
			border-collapse: collapse;
			text-align: left;

			th{
				font-size: 30px;
				font-weight: 900;
				background: #a3cc40;
				padding: 20px;
			}
			thead{
				th{
					&:first-of-type{
						border-radius: 20px 0 0 0;
						text-align: center;
					}
					&:last-of-type{
						border-radius: 0 20px 0 0;
						width: 34px;
						height: 37px;
					}
				}
			}
			tfoot{
				th{
					&:first-of-type{
						border-radius: 0 0 0 20px;
						text-align: center;
					}
					&:last-of-type{
						border-radius: 0 0 20px 0;
						width: 34px;
						height: 37px;
					}
				}
			}
			tbody{

				tr{
					td{
						font-size: 22px;
						font-weight: 400;
					    padding: 25px 20px;

					    &:first-of-type{
							text-align: center;
						}
					}
					&:nth-of-type(4n+1){
						background: #373737;
						&:hover{
							background: #373737 + #333;
						}
					}
					&:nth-of-type(4n+3){
						background: #4b4d4f;
						&:hover{
							background: #373737 + #333;
						}
					}
					&:nth-of-type(2n+2){
						background: #222;

						td{
							font-size: 16px;
							font-weight: 300;
							text-align: justify;
							padding: 0;

							div{
								padding: 25px 20px;
								display: none;
							}
						}
					}
				}
			}
		}

		.section1__table-text{
			p{
				text-align: center;
				padding: 20px 60px;
				font-weight: 300;
				font-size: 12px;
			}
		}
	}
}
/* section1 - end */

/* section2 */
.section2{
	.bg1;

	padding-bottom: 200px;

    .section__wrapper{
    	position: relative;
    }

	.section2__text{
		width: 65%;
		margin-left: 35%;
		text-align: right;
		padding-top: 50px;

		h2{
			color: #fff;
			font-size: 50px;
			font-weight: 900;
			padding-right: 50px;
		}
		p{
			color: #fff;
			font-size: 14px;
			font-weight: 300;
		    padding-right: 50px;
		}
		.section2__text-btn{
			background-color: @clr1;
		    border-radius: 15px;
		    color: #fff;
		    font-size: 18px;
		    text-decoration: none;
		    padding: 15px 25px;
		    display: block;
		    text-align: center;
		    float: right;
		    margin: 20px 50px 0 0;
		    transition: background-color @time;

		    &:hover{
				background-color: @clr3;
		    }
		}
		.clear;
	}
	.section2__circle{
		background: url('../assets/img/elite-badge.png');
		background-size: 100%;
		width: 354px;
		height: 357px;
		position: absolute;
		top: -180px;
		left: 50px;
		z-index: 3;
	}
}
/* section2 - end */

/* section3 */
.section3{
	.bg2;

	padding-top: 100px;

	.section3__text{
		width: 50%;
		color: @clr2;
		padding-left: 100px;

		h2{
			font-size: 50px;
			font-weight: 900;
		}
		p{
			font-size: 14px;
			font-weight: 300;
		}
	}

	.section3__block1{
		padding-left: 60px;


		.section3__block1-item{
			width: 236px;
			height: 236px;
			float: left;
			margin: 40px 0 0 40px;
			position: relative;
			overflow: hidden;
			padding: 30px;

			&:first-of-type{
				/*margin-left: 100px;*/
			}



			& > img{
				/*display: none;*/
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				transition: @time;

			}

			h3{
				font-size: 45px;
				font-weight: 900;
				line-height: 43px;

				&:after{
					content: '';
					display: block;
					width: 83px;
					height: 6px;
					background-color: #fff;
				}
			}
			p{
				font-size: 18px;
				font-weight: 500;
			}

		}

		.section3__block1-item:not(.speaker-0){
			background: @clr1 url(../assets/img/bg-speak.jpg);
			color: #fefefe;
			border-radius: 20px;
			padding: 30px;

			&:hover > img{
				opacity: 0;
				transform: translateY(-100%);
			}
		}

		.section3__block1-item.speaker-0{
			& > img{
				width: 232px;
				height: 232px;
				margin: 30px auto;
				animation: event2 3s linear infinite alternate;
			}
		}

		.clear;
	}
}
/* section3 - end */

/* section4 */
.section4{
	.bg1;

	padding-top: 100px;
	padding-bottom: 100px;

    .section__wrapper{
    	position: relative;
    }

	.section4__text{
		width: 55%;
		margin: 0 auto;
		text-align: center;

		h2{
			color: #fff;
			font-size: 50px;
			font-weight: 900;
		}
		p{
			color: #fff;
			font-size: 14px;
			font-weight: 300;
		}
		.section4__text-btn{
			background-color: @clr1;
		    border-radius: 15px;
		    color: #fff;
		    font-size: 18px;
		    text-decoration: none;
			padding: 15px 40px;
    		display: inline-block;
		    text-align: center;
		    margin: 20px auto;
		    transition: background-color @time;

		    &:hover{
				background-color: @clr3;
		    }
		}
		.section4__block{
			img{
				margin: 50px 30px;
				vertical-align: middle;
			}
		}
		.clear;
	}
}
/* section4 - end */

/* section5 */
.section5{

	padding-top: 100px;
	padding-bottom: 50px;

    .section__wrapper{
    	position: relative;
    }

	.section5__text{
		width: 65%;

		h2{
			color: #000;
			font-size: 50px;
			font-weight: 900;
			margin-bottom: 30px;
			padding-left: 50px;
		}
		p{
			color: #000;
			padding-left: 50px;
			font-size: 14px;
			font-weight: 300;
		}
		.clear;
	}
	.section5__text-btn{
		text-align: center;

		a{
			background-color: #373737;
		    border-radius: 15px;
		    color: #fff;
		    font-size: 18px;
		    text-decoration: none;
			padding: 15px 40px;
	    	display: inline-block;
		    text-align: center;
		    margin: 20px auto;
		    transition: background-color @time;
		    &:hover{
				background-color: @clr3;
		    }
		}
	}
	.section5__block{
		margin: 70px 0;

		.section5__block-item{
			float: left;
			overflow: hidden;
			transition: 1s;
			background-position: center center !important;
			&:hover{
				filter: brightness(70%);
			}
		}
		.section5__block-item-1{
			width: 55%;
			height: 416px;
			background: #3d6ed2 url("../assets/img/event-1.jpg");
			background-size: cover;
		}
		.section5__block-item-2{
			width: 45%;
			height: 416px;
			background: @clr1 url("../assets/img/event-2.jpg");
			background-size: cover;
		}
		.section5__block-item-3{
			width: 45%;
			height: 368px;
			background: @clr3 url("../assets/img/event-3.jpg");
			background-size: cover;
		}
		.section5__block-item-4{
			width: 55%;
			height: 368px;
			background: #e0652a url("../assets/img/event-4.jpg");
			background-size: cover;
		}
		.clear;
	}
	.clear;
}
/* section5 - end */

/* footer */
.footer{
	background: @clr1;
	padding-bottom: 30px;

    .section__wrapper{
		position: relative;
    }

	.footer__text{
		text-align: center;

		p{
			color: #fff;
			margin: 5px;
			font-weight: 300;
		}
		.clear;
	}
	.footer__soc{
		text-align: center;

		ul.soc-icons{
			margin-top: 60px;
		}
	}
	.footer__top{
		position: absolute;
		top: 75px;
		right: 30px;
		a{
			svg{
				width: 40px;
    			height: 40px;
			}
			use{
				fill: transparent;
				stroke: #000;
				stroke-width: 4px;
				transition: @time;
			}
			&:hover{
				use{
					stroke: #fff;
				}
			}
		}
		.clear;
	}
	.clear;
}
/* footer - end */

ul.soc-icons{
	list-style: none;
	padding: 0;
	display: inline-block;
	margin-top: 40px;

	li{
		float: left;

		.soc-icon{
			width: 34px;
			height: 34px;
		    display: block;
		    margin-right: 5px;
		}
		.fb, .tw, .be, .db{
			svg{
				width: 34px;
    			height: 34px;
			}
			use{
				fill: #fff;
				transition: @time;
			}
			&:hover{
				use{
					fill: @clr3;
				}
			}
		}
	}
}

.ico-plus{
	svg{
		width: 34px;
   		height: 34px;
	}
	use{
		fill: #fff;
		transition: @time;
	}
	&:hover{
		use{
			fill: @clr3;
		}
	}
}

/* keyframes */
@keyframes event{
	0%{
		transform: rotate(0);
	}
	11%{
		transform: rotate(80deg);
	}
	22%{
		transform: rotate(200deg);
	}
	33%{
		transform: rotate(360deg);
	}
	66%{
		transform: rotate(1800deg);
	}
	77%{
		transform: rotate(1960deg);
	}
	88%{
		transform: rotate(2080deg);
	}
	100%{
		transform: rotate(2160deg);
	}
}

@keyframes event2{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.5);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes pulse{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.75);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes iconRotate{
	0%{
		transform: rotate(0);
	}
	60%{
		transform: rotate(0);
	}
	95%{
		transform: rotate(1800deg);
	}
	100%{
		transform: rotate(1800deg);
	}
}

@keyframes iconTranslate{
	0%{
		transform: translate(0);
	}
	60%{
		transform: translate(0);
	}
	95%{
		transform: translate(1800px);
	}
	100%{
		transform: translate(1800px);
	}
}
/* keyframes */



/* media queris */
@media screen and (max-width: 1200px){
	.section__wrapper {
	    width: 970px;
	}
	.header .header__top .header__nav .header__nav-list{
		margin-top: 10px;
	}
	.header .header__top {
	    padding: 20px 30px;
	}
	.header .header__timer{
		width: 800px;
	}
	.header .header__timer .header__timer-item {
	    padding: 0 37px;
	    min-width: 100px;
	}
	.header .header__timer .header__timer-item .header__timer-num, .header .header__timer .header__timer-sep {
	    font-size: 100px;
	}
	.header .header__timer .header__timer-item .header__timer-label{
		font-size: 20px;
	}
	.header .header__timer{
		margin-bottom: 20px;
	}
	.section1{
		padding-bottom: 160px;
	}
	.section1 .section1__text{
		width: 40%;
	}
	.section1 .section1__form{
		margin-top: -250px;
	}
	.section1 .section1__block1 {
	    padding: 60px 0 40px;
	}
	.section1 .section1__table table tbody tr td{
		padding: 15px 20px;
	}
	.section1 .section1__table table th{
		padding: 15px;
	}
	.section2 .section2__circle {
	    width: 265px;
	    height: 268px;
	    top: -120px;
	}
	.section3 .section3__block1 .section3__block1-item {
	    margin: 20px 0 0 20px;
	}
	.section3 .section3__block1 {
	    padding-left: 0;
	}
	.section3 .section3__text{
		padding-left: 40px;
	}
	.section4 .section4__text {
	    width: 75%;
	}
	.section5 .section5__text h2{
		padding-left: 40px;
	}
	.section5 .section5__text p{
		padding-left: 40px;
	}
}

@media screen and (max-width: 992px){
	.section__wrapper {
	    width: 740px;
	}
	.header .header__top .header__nav .header__nav-list{
		margin-top: 0;
		padding-left: 0;
	}
	.header .header__top {
	    padding: 20px;
	}
	.header .header__top .header__logo img{
		width: 160px;
	}
	.header .header__top .header__nav .header__nav-list .header__nav-item a{
		font-size: 14px;
		margin-left: 30px;
	}
	.header .header__timer{
		width: 660px;
	}
	.header .header__timer .header__timer-item {
	    padding: 0 31px;
	    min-width: 80px;
	}
	.header .header__timer .header__timer-item .header__timer-num, .header .header__timer .header__timer-sep {
	    font-size: 80px;
	}
	.header .header__timer .header__timer-item .header__timer-label{
		font-size: 20px;
	}
	.header .header__timer{
		margin-bottom: 10px;
	}
	.section1{
		padding-bottom: 160px;
	}
	.section1 .section1__text{
		width: 90%;
		float: none;
	}
	.section1 .section1__form{
		margin: 30px auto;
		margin-top: 90px;
    	float: none;
	}
	.section1 .section1__block1 .section1__block1-item{
		padding: 20px 10px;
	}
	.section1 .section1__block1 {
	    padding: 60px 0 40px;
	}
	.section1 .section1__table table tbody tr td{
		padding: 15px 20px;
		font-size: 18px;
	}
	.section1 .section1__table table th{
		padding: 15px;
		font-size: 24px;
	}
	.section2{
		padding-bottom: 180px;
	}
	.section2 .section2__circle {
	    width: 200px;
	    height: 200px;
	    top: -120px;
	}
	.section2 .section2__text {
	    width: 71%;
	    margin-left: 29%;
	    padding-top: 80px;
	}
	.section3 .section3__block1 .section3__block1-item {
	    margin: 20px 0 0 20px;
	}
	.section3 .section3__block1 {
	    padding-left: 0;
	}
	.section3 .section3__text{
		padding-left: 40px;
	}
	.section3 .section3__text {
	    width: 70%;
	}
	.section3 .section3__block1 .section3__block1-item {
	    width: 190px;
	    height: 190px;
	    padding: 20px !important;
	}
	.section3 .section3__block1 .section3__block1-item.speaker-0>img {
	    width: 210px;
	    height: 210px;
	    margin: 10px auto;
	}
	.section3 .section3__block1 .section3__block1-item h3 {
	    font-size: 30px;
	    line-height: 30px;
	}
	.section3 .section3__block1 .section3__block1-item p {
	    font-size: 16px;
	}
	ul.soc-icons{
		margin-top: 10px;
	}
	.section3 .section3__block1 .section3__block1-item {
	    margin: 12px 0 0 12px;
	}
	.section4{
		padding-top: 80px;
    	padding-bottom: 120px;
	}
	.section4 .section4__text {
	    width: 85%;
	}
	.section5 .section5__text h2{
		padding-left: 40px;
	}
	.section5 .section5__text p{
		padding-left: 40px;
	}
	.section5 .section5__text {
	    width: 85%;
	}
	.section5 .section5__block {
	    margin: 50px 0;
	}
	.section5 .section5__block .section5__block-item-1, .section5 .section5__block .section5__block-item-2{
		height: 316px;
	}
	.section5 .section5__block .section5__block-item-3, .section5 .section5__block .section5__block-item-4{
		height: 268px;
	}
	.footer .footer__soc ul.soc-icons {
	    margin-top: 40px;
	}
	.footer .footer__top{
		top: 60px;
	}
}

@media screen and (max-width: 768px){
	.section__wrapper {
	    width: 440px;
	}
	.container .row .cols.col-4 {
	    width: 100%;
	}
	.header .header__top .header__nav .header__nav-list{
		margin-top: 0;
		padding-left: 0;
	}
	.header .header__top {
	    display: none;
	}
	.header .header__top .header__logo img{
		width: 160px;
	}
	.header .header__top .header__nav .header__nav-list .header__nav-item a{
		font-size: 14px;
		margin-left: 30px;
	}
	.header .header__timer{
		width: 400px;
	}
	.header .header__timer .header__timer-item {
	    padding: 0 10px;
	    min-width: 69px;
	}
	.header .header__timer .header__timer-item .header__timer-num, .header .header__timer .header__timer-sep {
	    font-size: 60px;
	}
	.header .header__timer .header__timer-item .header__timer-label{
		font-size: 16px;
	}
	.header .header__timer{
		margin-bottom: 10px;
		padding-bottom: 15px;
		margin-top: 120px;
	}
	.section1{
		padding-bottom: 160px;
	}
	.section1 .section1__text{
		width: 90%;
		padding-left: 10px;
		float: none;
	}
	.section1 .section1__form{
		margin: 30px auto;
		margin-top: 90px;
    	float: none;
	}
	.section1 .section1__block1 .section1__block1-item{
		padding: 20px 10px;
	}
	.section1 .section1__block1 {
	    padding: 60px 0 40px;
	}
	.section1 .section1__table {
	    padding: 0 20px;
	}
	.section1 .section1__table table tbody tr td{
		padding: 10px 15px;
		font-size: 14px;
	}
	.section1 .section1__table table th{
		padding: 10px;
		font-size: 20px;
	}
	.section1 .section1__table table tbody tr:nth-of-type(2n+2) td {
	    font-size: 14px;
	}
	.section1 .section1__table table tbody tr:nth-of-type(2n+2) td div {
	    padding: 20px 15px;
	}
	.section1 .section1__table table thead th:first-of-type{
		width: 95px;
	}
	.section1 .section1__table .section1__table-text p {
	    padding: 10px;
	    font-size: 10px;
	}
	.section2{
		padding-bottom: 130px;
	}
	.section2 .section2__circle {
	    width: 200px;
	    height: 200px;
	    top: -120px;
	}
	.section2 .section2__text {
	    width: 100%;
	    margin-left: 0;
	    padding-top: 120px;
	    text-align: center;
	}
	.section2 .section2__text h2 {
	    font-size: 38px;
	    padding-right: 0;
	}
	.section2 .section2__text p {
	    font-size: 14px;
	    padding-right: 0;
	}
	.section2 .section2__text .section2__text-btn{
    	margin: 20px 120px 0 0;
	}
	.section3 .section3__block1 .section3__block1-item {
	    margin: 20px 0 0 20px;
	}
	.section3 .section3__block1 {
	    padding-left: 0;
	}
	.section3 .section3__text{
	    padding-left: 10px;
    	width: 100%;
	}
	.section3 .section3__block1 .section3__block1-item {
	    width: 190px;
	    height: 190px;
	    padding: 20px !important;
	}
	.section3 .section3__block1 .section3__block1-item.speaker-0>img {
	    width: 232px;
	    height: 232px;
	    margin: 10px auto;
	}
	.section3 .section3__block1 .section3__block1-item h3 {
		font-size: 45px;
    	line-height: 43px;
	}
	.section3 .section3__block1 .section3__block1-item p {
	    font-size: 18px;
	}
	ul.soc-icons{
		margin-top: 40px;
	}
	.section3 .section3__block1 .section3__block1-item {
		margin: 20px auto;
    	float: none;
		width: 236px;
    	height: 236px;
	}
	.section3{
		padding-bottom: 130px;
	}
	.section4{
		padding-top: 80px;
    	padding-bottom: 120px;
	}
	.section4 .section4__text {
	    width: 100%;
	}
	.section4 .section4__text .section4__block img {
	    margin: 30px 10px;
	}
	.section4 .section4__text .section4__block img:nth-of-type(1), .section4 .section4__text .section4__block img:nth-of-type(3){
		width: 140px;
	}
	.section4 .section4__text .section4__block img:nth-of-type(2){
		width: 80px;
	}
	.section5 .section5__text h2{
		padding-left: 10px;
	}
	.section5 .section5__text p{
		padding-left: 10px;
	}
	.section5 .section5__text {
	    width: 100%;
	}
	.section5 .section5__block {
	    margin: 50px 0;
	}
	.section5 .section5__block .section5__block-item-1, .section5 .section5__block .section5__block-item-2{
		height: 216px;
	}
	.section5 .section5__block .section5__block-item-3, .section5 .section5__block .section5__block-item-4{
		height: 168px;
	}
	.footer .footer__soc ul.soc-icons {
	    margin-top: 40px;
	}
	.footer .footer__top{
		top: 60px;
	}
	.header .header__icons .header__icons-item img{
		width: 80px;
	}
	.header .header__icons .header__icons-white{
		bottom: -23px;
	}
	.header .header__icons{
		bottom: -10px;
	}
	.header{
		padding-bottom: 140px;
	}
	.header .header__top--mobil{
		display: block;
	}
}

@media screen and (max-width: 480px){
	.section__wrapper {
	    width: 300px;
	}
	.container .row .cols.col-4 {
	    width: 100%;
	}
	.header .header__top .header__nav .header__nav-list{
		margin-top: 0;
		padding-left: 0;
	}
	.header .header__top {
	    display: none;
	}
	.header .header__top .header__logo img{
		width: 160px;
	}
	.header .header__top .header__nav .header__nav-list .header__nav-item a{
		font-size: 14px;
		margin-left: 30px;
	}
	.header .header__timer{
		width: 280px;
		padding-bottom: 6px;
	}
	.header .header__timer .header__timer-item {
	    padding: 6px 4px;
	    min-width: 55px;
	}
	.header .header__timer .header__timer-item .header__timer-num, .header .header__timer .header__timer-sep {
	    font-size: 38px;
	}
	.header .header__timer .header__timer-item .header__timer-label{
		font-size: 10px;
	}
	.header .header__timer{
		margin-bottom: 10px;
	}
	.section1{
		padding-bottom: 160px;
	}
	.section1 .section1__text{
	    width: 100%;
	    padding-left: 0;
	    text-align: center;
	    float: none;
	}
	.section1 .section1__form{
		margin: 30px auto;
		margin-top: 90px;
    	float: none;
    	width: 280px;
	}
	.section1 .section1__form form {
	    padding: 15px;
	}
	.section1 .section1__form form h3 {
	    font-size: 24px;
	    margin-top: 10px;
	}
	.section1 .section1__form form p input{
		height: 30px;
		padding: 8px 2%;
	}
	.section1 .section1__form form p input[type=submit]{
		height: 46px;
	}
	.section1 .section1__form form p.section1__form-text{
		font-size: 12px;
	}
	.section1 .section1__form{
		margin-top: 60px;
	}
	.section1 .section1__block1 .section1__block1-item{
		padding: 20px 10px;
	}
	.section1 .section1__block1 {
	    padding: 60px 0 40px;
	}
	.section1 .section1__table {
	    padding: 0 5px;
	}
	.section1 .section1__table table tbody tr td{
	    padding: 8px;
	    font-size: 12px;
	}
	.section1 .section1__table table th{
		padding: 8px 4px;
    	font-size: 18px;
	}
	.section1 .section1__table table tbody tr:nth-of-type(2n+2) td {
	    font-size: 12px;
	}
	.section1 .section1__table table tbody tr:nth-of-type(2n+2) td div {
	    padding: 8px;
	}
	.section1 .section1__table table thead th:first-of-type{
		width: 95px;
	}
	.section1 .section1__table .section1__table-text p {
	    padding: 10px;
	    font-size: 10px;
	}
	.section2{
		padding-bottom: 100px;
	}
	.section2 .section2__circle {
	    width: 200px;
	    height: 200px;
	    top: -120px;
	}
	.section2 .section2__text {
	    width: 100%;
	    margin-left: 0;
	    padding-top: 120px;
	    text-align: center;
	}
	.section2 .section2__text h2 {
	    font-size: 38px;
	    padding-right: 0;
	}
	.section2 .section2__text p {
	    font-size: 14px;
	    padding-right: 0;
	}
	.section2 .section2__text .section2__text-btn{
        margin: 20px 52px 0 0;
	}
	.section3 .section3__block1 .section3__block1-item {
	    margin: 20px 0 0 20px;
	}
	.section3 .section3__block1 {
	    padding-left: 0;
	}
	.section3 .section3__text{
    	padding-left: 0;
    	text-align: center;
    	width: 100%;
	}
	.section3 .section3__block1 .section3__block1-item {
	    width: 190px;
	    height: 190px;
	    padding: 20px !important;
	}
	.section3 .section3__block1 .section3__block1-item.speaker-0>img {
	    width: 232px;
	    height: 232px;
	    margin: 10px auto;
	}
	.section3 .section3__block1 .section3__block1-item h3 {
		font-size: 45px;
    	line-height: 43px;
	}
	.section3 .section3__block1 .section3__block1-item p {
	    font-size: 18px;
	}
	ul.soc-icons{
		margin-top: 40px;
	}
	.section3 .section3__block1 .section3__block1-item {
		margin: 20px auto;
    	float: none;
		width: 236px;
    	height: 236px;
	}
	.section3{
		padding-bottom: 100px;
		padding-top: 70px;
	}
	.section4{
		padding-top: 80px;
    	padding-bottom: 90px;
	}
	.section4 .section4__text {
	    width: 100%;
	}
	.section4 .section4__text .section4__block img {
	    margin: 30px 5px;
	}
	.section4 .section4__text .section4__block img:nth-of-type(1), .section4 .section4__text .section4__block img:nth-of-type(3){
		width: 100px;
	}
	.section4 .section4__text .section4__block img:nth-of-type(2){
		width: 50px;
	}
	.section5 {
	    padding-top: 80px;
	}
	.section5 .section5__text h2{
		padding-left: 10px;
	}
	.section5 .section5__text p{
		padding-left: 10px;
	}
	.section5 .section5__text {
	    width: 100%;
	    text-align: center;
	}
	.section5 .section5__block {
	    margin: 50px 0;
	}
	.section5 .section5__block .section5__block-item-1, .section5 .section5__block .section5__block-item-2, .section5 .section5__block .section5__block-item-3, .section5 .section5__block .section5__block-item-4{
	    height: 200px;
    	width: 100%;
	}
	.footer .footer__soc ul.soc-icons {
	    margin-top: 20px;
	}
	.footer .footer__top{
	    top: 15px;
	    right: 10px;
	}
	.footer .footer__text{
		font-size: 12px;
	}
	.footer{
		padding-bottom: 10px;
	}

	.section1 .section1__text h2, .section3 .section3__text h2, .section4 .section4__text h2, .section5 .section5__text h2 {
	    font-size: 38px;
	    text-align: center;
	}

	.header .header__icons .header__icons-item img{
		width: 80px;
	}
	.header .header__icons .header__icons-white{
		bottom: -23px;
	}
	.header .header__icons{
		bottom: -10px;
	}
	.header{
		padding-bottom: 140px;
	}
	.header .header__top--mobil{
		display: block;
	}
}
/* media queris */